/* Universal Selector */

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Google Font */
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

/* Header Design */
header{
    background-color: #FFF8F3;
}